* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
}

:root {
  --default-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--mui-palette-primary-main);
  cursor: pointer;
  &::selection {
    background-color: inherit;
    color: inherit;
  }
}

svg,
img {
  pointer-events: none;
  user-select: none;
}
