* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
}

:root {
  --mui-palette-primary-main: #8ee53f;
  --mui-palette-primary-contrastText: rgb(0, 0, 0, 0.87);

  --mui-spacing: 8px;
  --mui-shape-border-radius: 12px;

  --default-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --mui-palette-background-default: #0a0a0a;
    --mui-palette-background-paper: #1e1e1e;
  }

  body {
    background-color: #0a0a0a;
    color: white;
  }
}

h1 {
  font-size: 32px !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
  color: var(--mui-palette-primary-main);
  cursor: pointer;
  &::selection {
    background-color: inherit;
    color: inherit;
  }
}

nav > a {
  width: 100%;
  justify-content: flex-start;
  gap: var(--mui-spacing);
  padding-inline: var(--mui-spacing);
  height: 40px;
  border-radius: var(--mui-shape-border-radius);
  color: var(--mui-palette-primary-main);
  transition: all var(--default-transition);
  &.active {
    color: var(--mui-palette-primary-contrastText);
    background-color: var(--mui-palette-primary-main);
  }
}

svg,
img {
  pointer-events: none;
  user-select: none;
}
